.about-us {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 40px 32px;

  margin-top: 72px;

  @include onTablet {
    margin-top: 152px;
  }

  @include onLaptop {
    margin-top: 178px;
  }

  &__crumbs {
    position: absolute;
    inset: 0 237px;

    background-image: url(../images/Crumbs.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include onDesktop {
      background-image: url(../images/CrumbsX2.png);
    }
  }
  &__content {
    @include onTablet {
      --grid-columns: 8;

      display: grid;
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      column-gap: 24px;
      align-items: start;
    }
  }
  &__title {
    font-size: 48px;
    color: $color-orange;

    @include onTablet {
      grid-column: 1 / span 4;
      font-size: 56px;
    }

    @include onLaptop {
      font-size: 72px;
    }
  }

  &__desc {
    @include onTablet {
      grid-column: 5 / span 4;
    }
  }
  &__stats-list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include onTablet {
      --grid-columns: 8;

      display: grid;
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      column-gap: 24px;
    }

    @include onLaptop {
      padding-bottom: 293px;
    }
  }
  &__stats-item {
    @include onTablet {
      &:nth-child(odd) {
        grid-column: 1 / span 3;
      }

      &:nth-child(even) {
        grid-column: 5 / span 3;
      }
    }
  }
  &__number {
    display: block;

    font-size: 96px;
    font-weight: 400;
    line-height: 0.85;
    color: $color-orange;
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }
  &__label {
    display: block;
  }
}
