.about-us {
  margin-top: 72px;
  column-gap: 32px;
  row-gap: 40px;

  display: flex;
  flex-direction: column;
  position: relative;
  @include onTablet {
    margin-top: 152px;
  }
  @include onLaptop {
    margin-top: 178px;
  }
  &__crumbs {
    width: 100px;
    // height: 100px;
    left: 50%;
    transform: translateX(-50%);
    // top: 0;
    // width: 65%;
    // aspect-ratio: 718 / 673;
    // max-width: 718px;
    // background-color: red;
    position: absolute;
    background-image: url(../images/Crumbs.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onDesktop {
      background-image: url(../images/CrumbsX2.png);
    }
  }

  &__content {
    @include onTablet {
      display: grid;
      --grid-columns: 8;
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      column-gap: 24px;
      align-items: start;
    }
  }
  &__title {
    color: $color-orange;
    font-size: 48px;

    @include onTablet {
      grid-column: 1 / span 4;
      font-size: 56px;
    }

    @include onLaptop {
      font-size: 72px;
    }
  }

  &__desc {
    @include onTablet {
      grid-column: 5 / span 4;
    }
  }
  &__stats-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include onTablet {
      display: grid;
      --grid-columns: 8;
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      column-gap: 24px;
    }
  }
  &__stats-item {
    @include onTablet {
      &:nth-child(odd) {
        grid-column: 1 / span 3;
      }

      &:nth-child(even) {
        grid-column: 5 / span 3;
      }
    }
  }
  &__number {
    display: block;
    color: $color-orange;
    font-weight: 400;
    font-size: 96px;
    line-height: 0.85;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
  &__label {
    display: block;
  }
}
