.about-us {
  margin-top: 178px;

  column-gap: 32px;
  row-gap: 40px;
  margin-block: 72px;

  display: flex;
  flex-direction: column;

  &__title {
    color: $color-orange;
  }
  &__desc {
  }
  &__stats-list {
    list-style: none;
    background-image: url(../images/Crumbs.png);
    background-size: auto;
    background-repeat: no-repeat;
  }
  &__stats-item {
  }
  &__number {
    display: block;
    color: $color-orange;
    font-weight: 400;
    font-size: 96px;
    line-height: 0.85;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
  &__label {
    display: block;
  }
}
