.footer {
  background-color: $color-black;
  @include contentPaddingInline;
  &__container {
    padding-top: 61px;
  }
  &__logo {
    margin-left: 21px;
  }
  &__group {
  }
  &__subtitle {
    @include contentPaddingInline;
    color: $color-grey;
  }
  &__nav {
    @include contentPaddingInline;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 24px;
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    color: $color-white;
  }
  &__main-title {
    color: $color-white;
    @include contentPaddingInline;
    margin-top: 64px;
  }
  &__subtitle {
    color: $color-grey;
  }
}
.footer__social-block {
  @include contentPaddingInline;
  padding-block: 40px;
  display: flex;
  align-items: flex-start;
  color: $color-white;
  gap: 32px;
}
.footer__social-icon {
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer__social-icon--facebook {
  background-image: url('/src/icons/facebook.png');
}

.footer__social-icon--instagram {
  background-image: url('/src/icons/instagram.png');
}

.footer__social-icon--twitter {
  background-image: url('/src/icons/twitter.png');
}
.footer__copyright {
  color: $color-grey;
}
