.page {
  background-color: $color-light-pink;
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  @include contentPaddingInline;
}
.page__body {
  margin: 0;
}
.header {
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $color-orange;

    text-align: center;
  }
  &__desc {
    text-align: center;
    margin: 32px 16px;
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 40px;
    width: 288px;
    height: 56px;
    border: 2px solid $color-orange;
    border-radius: 32px;
    padding: 20px 71px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: $color-orange;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.02em;
    &-icon {
      width: 20px;
      height: 20px;
      background-image: url(/src/icons/icon-cookie.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
