.page {
  background-color: $color-light-pink;
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  // @include contentPaddingInline;
}
.page__body {
  margin: 0;
}
.header {
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include onDesktop {
      padding-top: 144px;
      display: grid;
      --grid-columns: 8;
      grid-template-columns: repeat(var(--grid-columns), 1fr);
      column-gap: 24px;
      row-gap: 24px;
      align-items: center;
    }
  }

  &__title {
    color: $color-orange;
    text-align: center;
    font-size: 64px;
    order: 2;
    @include onDesktop {
      font-size: 100px;

      text-align: center;
      grid-column: 1 / -1;
      grid-row: 1;
      align-self: center;
      order: 3;
    }
  }

  &__img {
    background-image: url('/src/images/Cookie.png');
    width: 288px;
    height: 290px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    order: 3;
    @include onTablet {
      width: 326px;
      height: 328px;
    }
    @include onLaptop {
      background-image: url('/src/images/Cookie-x2.png');
      width: 544px;
      height: 546px;
    }
    @include onDesktop {
      width: 584px;
      height: 586px;
      grid-column: 1 / -1;
      grid-row: 1;
      justify-self: center;
      align-self: center;
      order: 2;
    }
  }

  &__desc {
    order: 1;
    text-align: center;
    margin: 32px 16px;
    @include onDesktop {
      // padding: 156px 0 32px;
      margin: 0;
      text-align: left;
      grid-column: 1 / 4;
      grid-row: 1;
      align-self: start;
    }
  }

  &__button {
    order: 4;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 40px;
    width: 288px;
    height: 56px;
    border: 2px solid $color-orange;
    border-radius: 32px;
    padding: 20px 71px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    color: $color-orange;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.02em;
    &-icon {
      width: 20px;
      height: 20px;
      background-image: url(/src/icons/icon-cookie.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    @include onDesktop {
      margin: 0;
      grid-column: 1 / 4;
      grid-row: 2;
      justify-self: start;
    }
  }
}
