.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: contain;

  @include hover(transform, scale(1.2));

  @media (min-width: 640px) {
    width: 32px;
    height: 32px;
  }
}

.icon--menu {
  background-image: url(/src/icons/icon-menu.png);

  @include on-laptop {
    display: none;
  }
}

.icon--close {
  background-image: url(/src/icons/icon-close.png);
}
