.page__menu {
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  &:target {
    opacity: 1;
    pointer-events: all;
  }
}
.menu {
  box-sizing: border-box;
  height: 100vh;

  &__top {
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
