.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;

  @include on-laptop {
    padding-inline: 36px;
  }
  &__logo {
    @include hover(transform, scale(1.2));
  }
}
